@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --background: #e4e2dd;
    --foreground: #0b0912;
    --card: #ffffff;
    --card-foreground: #0b0912;
    --popover: #ffffff;
    --popover-foreground: #0b0912;
    --primary: #2d3b5b;
    --primary-foreground: #d9ecff;
    --secondary: #d9ecf5;
    --secondary-foreground: #2d3b5b;
    --muted: #d9ecf5;
    --muted-foreground: #8a96a3;
    --accent: #d9ecf5;
    --accent-foreground: #2d3b5b;
    --destructive: #ff667d;
    --destructive-foreground: #d9ecff;
    --border: #e3efff;
    --input: #e3efff;
    --ring: #0b0912;

    --radius: 0.5rem;
    --sidebar-background: #fafafa;
    --sidebar-foreground: #434c54;
    --sidebar-primary: #1a1b1f;
    --sidebar-primary-foreground: #fafafa;
    --sidebar-accent: #f7f7ff;
    --sidebar-accent-foreground: #1a1b1f;
    --sidebar-border: #e2e8f2;
    --sidebar-ring: #3380ff;
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  body,
  #root {
    height: 100vh;
  }
}
